.search-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  width: 500px;
  gap: 13px;
  padding-right: 13px;

  background-color: var(--color4);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.4);
}

.search__input{
  padding: 13px;
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 0.8rem;
  font-weight: 500px;
  border-right:  2px solid var(--color5);
  
}

.search__button{
  background: none;
  border: none;
  font-size:  1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color5);
  cursor: pointer;
}